html {
    background: #334566;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #334566, #311b35);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #334566, #311b35); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-size: cover; */
    min-height: 100%;
    background-size: 100%, 100%;
}

body {
    font-family: "Raleway", sans-serif;
}

#title, h1 {
    font-family: 'Averia Serif Libre', cursive;
}

#big-link, h1 {
    font-family: 'Averia Serif Libre', 'Press Start 2P', 'Cabin Sketch';
    font-size: 48px;
}

a {
    text-decoration: underline;
    border-bottom: 0px solid #ccc;
}
