body {
    font-family: Avenir Next, Liberation Sans, Arial, sans-serif;
    font-size: larger;
    background-color: #241734;
    background: linear-gradient(0deg, rgba(36,23,52,1) 29%, rgba(56,37,116,1) 100%) fixed;
    color: #efefef;
    max-width: 80ch;
    padding: 3ch;
    margin: auto;
}
#navset {
    margin-top: -2ch;
    font-size: 2ch;
    margin: auto;
    width: max-content;
}
h1 {
    color: #ff4365;
}
p > code {
    font-size: x-large;
}
a {
    color: #f706cf;
    text-decoration: none;
    outline: 0;
}
a:hover {
    text-decoration: underline;
}
::selection {
    color: #241734;
    background-color: #ff6c11;
}
